@import '_reset';
@import '_variables';

body{
    background-color: $main-color;
    font{
        size:$main-font-size;
        font-family: $main-font;
    }
}

nav{
    ul{
        margin:0;
        padding:0;
        list-style:none;
    }
    li{
        display:inline-block;
    }
    a{
        display:block;
        padding:6px 12px;
        text-decoration:none;
        &:hover{
            background-color: $secondary-color;
            color:$main-color;
        }
    }
}

@mixin important{
    color:rgb(196,53,53);
    font-weight:bold;
    border:1px solid blue;
    text-align:center;
}

.danger{
    background-color: $secondary-color;
    @include important()
}

@mixin bordered($color,$width){
    border:$color solid $width;
}

.article{
    @include bordered(green,4px);
}

.button-basic{
    border:none;
    padding:15px 30px;
    text-align:center;
    font-size:16px;
    cursor:pointer;
}

.button-report{
    @extend .button-basic;
    background-color:red;
}
.button-submit{
    @extend .button-basic;
    background-color:green;
    color:white;
}